/*
    Auther: Abdelrhman Said
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}
/* 
.wrapper {
  display: inline-flex;
  text-align: center;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
} */

.menuBar {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.homeSection,
.aboutSection,
.WhyChooseUsSection,
.testimonialSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutSection {
  margin-top: 150px;
  margin-bottom: 150px;
}
.servicesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 280px 0 280px;
  margin-bottom: 25px;
}

.WhyChooseUsSection {
  margin-top: 150px;
}
.testimonialSection {
  margin-top: 150px;
}
.footerSection {
  background-color: #4e4e4e;
  color: white;
  margin-top: 150px;
}
.onlyforthis{
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  /* text-align: center; */
  text-shadow: lemonchiffon;
  text-emphasis-color: #0143f7;
}

.allheadings{
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-shadow: lemonchiffon;
  text-emphasis-color: #0143f7;
}
.subheadings{
  text-align: center;
}

.tooltip {
  background-color: #3b5999;
  color: #ffffff;
}
.fa {
  width: 60px;
  height: 60px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  display: inline-flex;
  justify-self: center;
  align-items: center;
  padding-right: 45px;
}
.fa:hover {
  opacity: 0.9;
  color: #000;
}

.fa-facebook {
  background: #3b5999;
  color: white;
}

.fa-twitter {
  background: #46c1f6;
  color: white;
}

.fa-google {
  background: #f4c20d;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #de463b;
  color: white;
}

.fa-instagram {
  background: #e1306c;
  color: white;
}
